@import "tailwindcss";

@theme inline {
  /* Custom Fonts */
  --font-heading: var(--font-korean);
  --font-body: var(--font-merriweather);

  /* Custom Colors - South Korea Tourism Style Guide */
  --color-inkstone: #1b1b1e;
  --color-porcelain: #f8f9fa;
  --color-harvest: #e4b400;
  --color-crimson: #c62631;
  --color-celestial: #0b4f6c;

  /* Custom Breakpoint */
  --breakpoint-xs: 402px;
}

body {
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
}
